



.mona-yellow {
    background-color: #FFBF00;
}

.mona-light-yellow {
    background-color: #FFEE89;
}

.mona-purple {
    background-color:  #670BCF;
}

.mona-purple-text {
    color:  #670BCF;
}

.mona-light-purple {
    background-color: #D28CFD;
}

.mona-light-purple-text {
    color: #D28CFD;
}

a {
    color: #670BCF;
}

.mona-purple-gradient{
    background-color: linear-gradient(#D28CFD, #670BCF);
}


.breadcrumb {
    background-color: #D28CFD;
}

.breadcrumb-item.active {
    color: #670BCF;
}


.carousel-control-prev{
    color: mona-yellow
}
