body{
    font-family: "Open Sans";
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: #F5F5F5;
}

h1, h2, h3, h4 {
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

h5, h6 {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mona-offwhite {
    background-color: #F5F5F5;
}

.mona-yellow {
    background-color: #FBE900;
    max-width: none;
}

.mona-light-yellow {
    background-color: #FCEC80;
    width: fill;
}

.mona-purple {
    background-color:  #670BCF;
}

.mona-purple-text {
    color:  #2E398E;
}

.mona-light-purple {
    background-color: #C0C4E4;
}

.mona-xlight-purple {
    background-color: #e2e4f3;
    color:#262829
}


.mona-button {
    background-color: #e2e4f3;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mona-button-offre {
    background-color: #e2e4f3;
    text-decoration: none;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mona-button:hover, .mona-button-offre:hover {
    background-color: #670BCF;
    color: #e6e6e6;
}

a {
    color: #2E398E;
    text-decoration-line: underline;
    
}
a:hover {
    color: #670BCF
}


.breadcrumb {
    border-style: solid;
    border-color: #e2e4f3;
    background-color: #e2e4f3;
}

nav {
    line-height: 16px;
    background-color: #F5F5F5;
    color: #000;
    box-shadow: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004D;
}

a.nav-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.dropdown-menu {
    background-color: #F5F5F5;
   
}
.dropdown-item {
    text-decoration: none;
   
}


header {
    margin-top: 40px;
}

footer {
    color: F5F5F5
}
footer a{
    color: #C0C4E4
}
footer a:hover{
    color: #F5F5F5
}

.card {
    border: none;
}

.card-header {
    text-align: center;
    font-weight: 600;
    font-size: larger;
}


.center-cropped {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-img {
    height: 150px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.img-small {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appNav {
    height: 50px;
}

.appMockup {
    height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.imgStyle {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}


.textStyle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inTextIcon {
    padding-left: 5px;
    padding-right: 3px;
}

.app {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: #262829;
    text-align: right;
    font-size: small;
}

.longfigcaption  {
    color: #262829;
    font-size: small;
    max-width: 600px;
}

.textgauche {
    text-align: left;
}

/*pourquoi il ne fonctionne pas? 2021-10-08.html, ligne 100 -->*/
blockquote {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    align-self: center;
}

.ref {
    margin-left: 50px;
    color: #262829;
}

.store-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1em;
}

.store-icons img {
    margin: 0px 5px;
}

.big-vertical-margin {
    margin: 30px 0px 30px 0px;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

.press-links-grid {
    display: grid;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 15% 75%
}

.links-grid{ /*4*/
    display: grid;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    color: rgb(75, 74, 74);
}

.grid-2{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    width: 100%;
}

.links-grid-2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: rgb(75, 74, 74);
}

.links-grid-3-text{
    margin: 15px;
    padding: 1.5em 0;
    background-color: #F5F5F5;
    border-radius: 15px;
    display: grid;
    width: fill;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 15px;
    text-align: center;
    color: rgb(75, 74, 74);
}

.links-grid-4-text{
    background-color: #F5F5F5;
    border-radius: 15px;
    display: grid;
    width: fill;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 15px;
    text-align: center;
    color: rgb(75, 74, 74);
}


.links-grid-3{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(75, 74, 74);
}


.links-grid-5{
    display: grid;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    color: #6c757d;;
}

.box {
    margin: 15px;
    padding: 1.5em ;
    background-color: #F5F5F5;
    border-radius: 15px;
}


.yellow-box {
    padding: 1em ;
    padding-left: 2em ;
    background-color: #FDF4B4;
    border-radius: 15px;
}

.linktree {
    width: 100%;
    border-radius: 8px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
}

.round-thumbnail-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    
}

.linktree > a {
    color: #F5F5F5;
    font-weight: 600;
    font-size: 16px;
}

.carousel-legend {
    position: absolute; 
    bottom: -16px;
    height: 50px;
    width: 100%;
    text-align: right;
    background-color: #F5F5F5;
    padding-right: 5px;

}

.larger-text {
    font-size: 24px;
    font-weight: 400;
}

.center-text {
    text-align: center;
}


#mockups-app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 587px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#appView {
    background: url("../img/line.png") repeat-y top;
}  

/*    top: 1830.44px;
left: -1032.62px;
border-width: 6px;
transform: rotate(60.34deg)
opacity: 0.6;
*/
